:root {
   --vermelho:#C30404;
   --preto:#141414;
   --branco:#fff;
   --gelo:#e5e5e5;
   --acizentado:#1d1e1f;
}

*{
    margin: 0%;
    padding: 0%;
    border: 0%;
    box-sizing: border-box;
    font-size: 1.2rem;
    list-style: none;
    text-decoration: none;
}
@font-face {
    font-family: font;
    src: url(JAi_____.TTF);
}
body{
    font-family: font;
    overflow-x: hidden;
}


button {
    border: none;    
    background: none;
    cursor: pointer;
    margin-right: 10px;
    align-items: center;
}
.btns{
display: flex;
width: 100vw;
justify-content: center;
}


@media (min-width:360px){

    a {
        text-decoration: none;
        color: var(--branco);
    }

    .header {
        background-color: var(--preto);
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding:20px;
    }

    .logo {
        border-radius: 100%;
        box-shadow: 0px 0px 5px 0px var(--branco);
    }

    .menu {
        display: flex;
        padding-top: 5px;
    }

    .menu li {
        margin-left: 10px;
        
    }

    .menu a {
        padding: 10px;
    }

    .menu :hover{
        color: var(--vermelho);
    }

    .p {
        padding: 20px;
        color: var(--branco);
    }

    .h1 {
        padding: 20px;
        color: var(--branco);
    }

    .section {
        background-color:var(--vermelho);
        display: flex;
        flex-wrap: wrap;
    }

    .sectionTwo {
        display: flex;
        flex-wrap: wrap;
        max-width: 360px;

    }


    .div_btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;
    }

    .btn_sol_css {
        color: #141414;
    }
    
    .btn_sol_css .header {
        background-color: rgb(108, 231, 108);
        color: #141414;
    }

    .btn_sol_css .menu a {
        color: #141414;
    }

    .btn_sol_css .menu a:hover{
        color: #C30404;
    }

    .btn_sol_css .section {
        background-color: var(--acizentado);
    }

    .btn_sol_css .rodape {
        background-color: rgb(108, 231, 108);
    }

    .btn_sol_css .rodape .title a{
    color:#141414;
    }

    .btn_sol_css .rodape .title a:hover{
        color: red;
    }


    .btn_sol_css .subtitle {
    color:#141414;
    }

    .btn_lua_css {
        background-color: none;
        color: #fff;
    }
    

    #gif {
        width: 360px;
    }

    .rodape {
        display: flex;
        height: 20vh;
        background-color: var(--preto);
    }

    .title {
        display: flex;
        flex: wrap;
        width: 300px;
        height: 20px;
        font-size: 1.2em;
    }

    .subtitle {
        display: flex;
        position: absolute;
        padding: 40px;
        font-size: 0.7em;
        align-self: flex-end;
        color:var(--branco);
    }
}

@media (min-width:500px){
    a {
        text-decoration: none;
        color: var(--branco);
    }

    .header {
        background-color: var(--preto);
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding:20px;
    }

    .logo {
        margin-left: 30vw;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 0px var(--branco);
    }

    .pai {
       margin-left:10%;
    }

    .menu {
        display: flex;
        justify-content: center;
    }

    .menu li {
        margin-left: 10px;
    }

   
    .menu a {
        padding: 10px;
    }
    .menu :hover{
        color: var(--vermelho);
    }
    .p {
        padding: 20px;
        color: var(--branco);
    }

    .h1 {
        padding: 20px;
        color: var(--branco);
    }

    .section {
        background-color:var(--vermelho);
        display: flex;
        flex-wrap: wrap;
    }

    .sectionTwo {
        display: flex;
        flex-wrap: wrap;
        max-width: 360px;

    }

    .div_btn{
        display: flex;
        justify-content: center;
    }

    .btn_sol_css {
        color: #141414;
    }
    
    .btn_sol_css .header {
        background-color: rgb(108, 231, 108);
        color: #141414;
    }

    .btn_sol_css .menu a {
        color: #141414;
    }

    .btn_sol_css .menu a:hover{
        color: #C30404;
    }

    .btn_sol_css .section {
        background-color: var(--acizentado);
    }

    .btn_sol_css .rodape {
        background-color: rgb(108, 231, 108);
    }

    .btn_sol_css .rodape .title a{
    color:#141414;
    }

    .btn_sol_css .rodape .title a:hover{
        color: red;
    }


    .btn_sol_css .rodape .subtitle {
    color:#141414;
    }
    .btn_lua_css {
        background-color:none;
        color: #fff;
    }
    
    #gif {
        width: 100vw;
    }

    .rodape {
        display: flex;
        height: 20vh;
        background-color: var(--preto);
    }

    .title {
        display: flex;
        flex: wrap;
        width: 300px;
        height: 20px;
        padding: 2%;
        font-size: 1.2em;
    }

    .title :hover{
        color: var(--vermelho);
    }
    
    .subtitle {
        display: flex;
        position: absolute;
        padding: 30px;
        margin-left: 15%;
        align-self: flex-end;
        color:var(--branco);
    }
}

@media (min-width:900px){
    a {
        text-decoration: none;
        color: var(--branco);
    }

    .header {
        background-color: var(--acizentado);
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding:20px;
    }

    .menu {
        display: flex;
    }

    .menu li {
        margin-left: 10px;
    }   

    .menu li a {
        padding: 20px;
        font-size: 1.4rem;
    }

    .logo {
        margin-left: auto;
    }

    .menu :hover{
        color: var(--vermelho);
    }

    .p {
        text-align: center;
        font-size: 1.4rem;
        color: var(--branco);
    }

    .h1 {
        margin-right: 200px;
        font-size: 1.6rem;
        padding: 20px;
        color: var(--branco);
    }

    .section{
        flex-direction: row;
    }

    #quebrandoTela {
        background-color: red;

    }

    .div_btn{
        display: flex;
        justify-content: right;
    }

    .menutext {
    display: flex;
    }

    .btn_sol_css {
        color: #141414;
    }
    
    .btn_sol_css .header {
        background-color: rgb(108, 231, 108);
        color: #141414;
    }

    .btn_sol_css .menu a {
        color: #141414;
    }

    .btn_sol_css .menu a:hover{
        color: #C30404;
    }

    .btn_sol_css .section {
        background-color: var(--acizentado);
    }

    .btn_sol_css .rodape {
        background-color: rgb(108, 231, 108);
    }

    .btn_sol_css .rodape .title a{
    color:#141414;
    }

    .btn_sol_css .rodape .title a:hover{
        color: red;
    }


    .btn_sol_css .rodape .subtitle {
    color:#141414;
    }


    .btn_lua_css main{
        background-color: none;
        color: #fff;
    }
    


    .section {
        background-color:var(--vermelho);
        display: flex;
        flex-direction: row;
        align-items: stretch;
        height: 50vh;
        flex-wrap: wrap;
    }

    .sectionTwo {
        display: flex;
        flex-wrap: wrap;
      width: 100vw;
      max-width: max-content;
    }

    #play {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: center;
    }

    #gif {
        display: flex;
        flex:nowrap;
        width: fit-content;

    }

    .rodape {
        display: flex;
        height: 20vh;
        background-color: var(--preto);
    }

    .title {
        display: flex;
        flex: wrap;
        width: 300px;
        height: 20px;
        padding: 5px;
        color: #e5e5e5;
        font-size: 1.2em;
    }

    .subtitle {
        display: flex;
        position: absolute;
        padding:  0px 50px 30px 0px;
        margin-left: 30%;
        align-self: center;
        color:var(--gelo);
        font-size: 1.1em;
    }
}